# === Segurança e Credenciais ===
# Ignorar arquivos de dados locais (Cérebro JSON)
cerebro_netflex.json

# Ignorar arquivos de imagem e mídias locais (Logos e uploads técnicos)
*.jpeg
*.jpg
*.png
*.webp

# === Arquivos de Configuração do Streamlit ===
.streamlit/

# === Cache e Ambientes Virtuais (Python) ===
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# === Arquivos de Sistema ===
.DS_Store
Thumbs.db
